@page "/Editor"
@using Microsoft.Extensions.Configuration
@using dol_sdk.Services
@using DolBlazor.Pieces
@using DolBlazor.Utilities
@inject ISecurityService Security
@inject IConfiguration _configuration
@inject IAreaAnalyzer _analyzer

<div class="container-fluid">
    @if (Security.LoggedIn)
    {
        <div class="row">
            <div class="col-1">
                <button disabled="@loading" class="btn btn-primary btn-sm" @onclick="RunAnalysis">
                    @if (loading)
                    {
                        <span class="spinner-border spinner-border-sm mr-1"></span>
                    }
                    Run Analysis
                </button>
            </div>
            <div class="col-1">
                <span class="badge bg-info">@_analyzer.status</span>
            </div>
            <div class="col">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: @_analyzer.progress.ToString()%" aria-valuenow="@_analyzer.progress.ToString()" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-4">
                <label for="customRange2" class="form-label">Zoom @zoomString</label>
                <input type="range" class="form-range" @bind="zoom" min="100" max="500" step="20" id="customRange2">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                @if (_analyzer.progress == 100)
                {
                    <div class="map" style="background-image: url('@_configuration["Map:Location"]'); width: @zoomString">
                        <table style="width: 100%">
                            @for (var y = height; y >= 1; y--)
                            {
                                <tr >
                                    @for (var x = 1; x <= width; x++)
                                    {
                                        var thisX = x;
                                        var thisY = y;
                                        var missing = !_analyzer.areas.TryGetValue((x,y), out var thisArea);

                                        <td class="area" style="width: @relativeWidth" @onclick="() => Modal.Open(thisX, thisY, thisArea)">
                                            <div class="content">
                                                @if (missing || thisArea.Issues.Count > 0)
                                                {
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                                        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                                    </svg>
                                                }
                                            </div>
                                        </td>
                                    }
                                </tr>
                            }
                        </table>
                        <AreaEditModal @ref="Modal"></AreaEditModal>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <div class="col">
            <h4>Log in <a href="/Login?returnUrl=Editor">here</a></h4>
        </div>
    }

</div>

@code {
    private bool loading;
    private int height => Convert.ToInt32(_configuration["Map:Height"]);
    private int width => Convert.ToInt32(_configuration["Map:Width"]);
    private string relativeWidth => $"{100 / width}%";
    private int zoom = 100;
    private string zoomString => $"{zoom}%";

    private Pieces.AreaEditModal Modal { get; set; }

    private async Task RunAnalysis()
    {
        loading = true;
        await _analyzer.Analyze();
        loading = false;
    }

}
